@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Aprimo Task Viewer</h1>
    <p class="lead">This Aprimo Task Viewer was created by Albert Chang. I hope you found this tool useful. Please feel free to drop any suggestions or bugs you encountered!</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

        @*(action method, Controller)*@
@*@using (Html.BeginForm("Import", "Home Page"))
{
    <span><b>Excel File </b></span> 
    <input type="file" name="excelfile" />
    <br>@Html.Raw(ViewBag.Error)<br>

    @DropDownList for TaskDetail
    @Html.DropDownList("taskDetailId", ViewBag.Statuses as SelectList, "Select Task Status")
    <input type="submit" value="Import" class="btn btn-primary"/>
}*@

@*@<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>*@